.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.popup-content h2 {
  margin-top: 0;
  color: #980000;
  text-align: center;
}

.contact-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.contact-list li {
  margin-bottom: 10px;
}

.contact-list a {
  color: #980000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-list a:hover {
  color: #fd1d1d;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #fd1d1d;
}
